*{
    margin: 0px;
    padding:0px;
    border: 0px;
}
.bt:hover{
    background-color: aquamarine;
    display: inline;
    overflow: hidden;
    position: relative;
    border-radius: 0%;
    padding-top: 5px;
}
.social ul{
    list-style: none;
    padding-right: 40px;
}
.social ul li{
    display: inline-block;
    position: top;
}  

.btn i{
    line-height: 45px;
    font-size: 15px;
    transition: 0.2s linear;
    font-style: normal;
    font-weight: bold;
    color:white;

}
.btn:hover i{
    transform: scale(1.3);
    color: aquamarine;
}
.btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height:120%;
    left: -110%;
    top:90%;
}
body{
    background-position:center;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) url(save.jpg);
}
.footer-copyright{
    font-style: italic;
    font-size: 30PX;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.new-website{
    border-radius: 25px;
    font-style: italic;
}
.img-links img{
    border: 6px solid white;
    -webkit-transition:transform .3s ease;
    -ms-transition:transform .3s ease;
    transition:transform .3s ease;
}
.img-links img:hover{
    -webkit-transform: scale(1.2) rotate(10deg);
    -ms-transform: scale(1.2) rotate(10deg);
    transform: scale(1.2) rotate(10deg);
}
.image-info{
    background-color:white;
    margin-top: -50px;
}
.image-info .btn-success:hover{
    border-radius: 0;
    border: none;
    background-color: rgb(40, 233, 40);
}
.bv{
    
        color: lawngreen;
        font-weight: bold;
        font-style: italic;
        font-size: 20px;
    
}
