*{
    margin: 0px;
    padding:0px;
    border: 0px;
}

.img-links img{
    border: 6px solid white;
    -webkit-transition:transform .3s ease;
    -ms-transition:transform .3s ease;
    transition:transform .3s ease;
}
.img-links img:hover{
    -webkit-transform: scale(1.2) rotate(10deg);
    -ms-transform: scale(1.2) rotate(10deg);
    transform: scale(1.2) rotate(10deg);
}
.image-info{
    background-color:white;
    margin-top: -50px;
}
.image-info .btn-success:hover{
    border-radius: 0;
    border: none;
    background-color: rgb(40, 233, 40);
}

.carousel-inner{
 height: 300px;
}

.item, img{
    height:100%; 
    width: 100%;
    border: 1px solid black;
    top: 0px;
    left: 0px;
    margin: auto;
    text-align: center;


   
}
.loo{
    height: 40%;
    width: 60%;
    text-align: center;
    margin-left: 21%;
  
}
.card{
    display: inline-block;
    margin-bottom: 20px;
}
.poo{
    margin-left: 6%;
}
.cor{
    display: inline-block;
    margin-left: 19%;
}